a{
  text-decoration: none;
}

.menulink{
  color: burlywood  ;
  font-size: 23px;
  line-height: 30px;
}


.headline{
  color: hsl(74, 85%, 35%);
  font-size: 28px;
  line-height: 36px;
  font-weight: bold;
}

.paragraph{
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987
}

.medhead{
  color: hsl(234, 80%, 47%);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 80px;
}